<div id='homepage_background'>
  <%= render :partial => 'shared/header' %>

	<div id='new_songs' class='clearfix'>
		<h2>Songs from my last recording session</h2>
		<!-- Soundcloud songs -->
		<object height="81" width="100%"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F11673798&amp;show_comments=true&amp;auto_play=false&amp;color=3e974b"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F11673798&amp;show_comments=true&amp;auto_play=false&amp;color=3e974b" type="application/x-shockwave-flash" width="100%"></embed> </object>   <span><a href="http://soundcloud.com/mikeymicrophone/heartbreak-heart-attack">Heartbreak Heart Attack</a> by <a href="http://soundcloud.com/mikeymicrophone">Mikey Microphone</a></span>

	  <object height="81" width="100%"> <param name="movie" value="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F11673658&amp;show_comments=true&amp;auto_play=false&amp;color=3e974b"></param> <param name="allowscriptaccess" value="always"></param> <embed allowscriptaccess="always" height="81" src="http://player.soundcloud.com/player.swf?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F11673658&amp;show_comments=true&amp;auto_play=false&amp;color=3e974b" type="application/x-shockwave-flash" width="100%"></embed> </object>   <span><a href="http://soundcloud.com/mikeymicrophone/untitled">Untitled</a> by <a href="http://soundcloud.com/mikeymicrophone">Mikey Microphone</a></span>
  </div>

	<div class='clearfix' id='freddys_show'>
		<h2>Videos from my last show</h2>
		<!-- Youtube playlist -->
		<object width="480" height="385"><param name="movie" value="http://www.youtube.com/p/C8A8A725B9FB3F32?hl=en_US&fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/p/C8A8A725B9FB3F32?hl=en_US&fs=1" type="application/x-shockwave-flash" width="480" height="385" allowscriptaccess="always" allowfullscreen="true"></embed></object>
	</div>
	<%= mail_to 'mikey@mikeymicrophone.com', 'mikey@mikeymicrophone.com', :encode => :javascript %>
</div>