#homepage_background {
	background-image: url('/images/profile.jpg');
	background-opacity: 10%;
}

h2 {
	color: #1D713A;
}

#join_mailing_list {
	text-decoration: underline;
	color: white;
	padding: 5px;
}

#mailing_list {
	color: white;
}

#person_details, #notification_details, #sign_up_button {
	float: left;
	padding-left: 30px;
	z-index: 3;
}

.clearfix {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

#freddys_show, #new_songs {
	text-align: center;
	color: white;
}

#new_songs a {
	color: white;
}