/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.interest_name {
	font-family: Trebuchet;
	font-size: 20px;
	padding: 7px;
	margin-left: 80px;
}

body {
	font-family: Helvetica Neue;
}

#logo {
	display: inline-block;
}

#motto_box {
	display: inline-block;
	padding-bottom: 30px;
}

#motto {
	font-size: 36px;
	font-weight: bold;
}

#query {
	font-size: 30px;
}

#link_bank ul {
	list-style-type: none;
	
}

#link_bank ul li a {
	font-size: 30px;
}

.detail {
	text-align: right;
}