<table>
  <tr>
		<th></th>
    <th>Chapter</th>
    <th>Book</th>
    <th>Content</th>
  </tr>

<% @chapters.each do |chapter| %>
  <tr>
		<td><%= chapter.position %></td>
    <td><%= link_to_name chapter %></td>
    <td><%= link_to_name chapter.book %></td>
    <td><%= chapter.content.truncate 400 %></td>
  </tr>
<% end %>
</table>
